//-
   orientation: String
   source: Array|Object|String
   _style:

div(class=_style.videoWrapperForConstraintRatio)
  video(
  class=_style.video,
  width="100%",
  preload,
  x-webkit-airplay="allow",
  webkit-playsinline="true",
  playsinline,
  x5-video-player-type="h5",
  x5-video-player-fullscreen="true",
  x5-video-orientation=orientation)
    if source instanceof Array
      each sourceObj in source
        source(src=sourceObj.url, type='video/' + sourceObj.type)
    else if source instanceof Object
      source(src=source.url, type='video/' + source.type)
    else if typeof source === 'string' && source.constructor === String
      source(src=source)

    | I'm sorry; your browser doesn't support HTML5 video.

div(class=_style.mask)
